.search {
    margin-bottom: 16px;
    position: relative;
    width: 100%;
    z-index: 1;
}

.search-icon {
    height: 100%;
    color: rgb(66, 66, 66);
    background-color: rgba(170, 170, 170, 0.274);
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 0;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.285);
    transition: all .4s;
}